*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #082032;
    color: white;
    min-height: 1500px;
}
html{
    scroll-behavior: smooth;
}
.container{
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   /* border: 2px solid white; */
   margin-top: 5rem;
}
.image img{
    width: 37rem;
    height : 25rem;
}
.image{
    margin : 10px;
}

.matter{
    text-align: left;
    /* height: 10rem; */
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 1.5rem;
    margin-top: 6rem;
    /* border: 2px solid white; */
}
.matter span{
    color: greenyellow;
}
.sticky{
    display: grid;
    grid-template-columns:  6fr 1fr;
    grid-column-gap: 2%;
    align-items: center;
    padding: 15px 8%;
    background-color:#04121b;
    height: 4rem;
    width:100%;
    z-index: 10000000;
    position: fixed;
    top: 0px;
}
.sticky span a{
    float: left;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}
a{
    text-decoration: none;
    color: white;
}
li,a,button{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.3rem;
}
button{
    font-size: 1rem;
}
.navbar li a{
    transition: all 0.3s ease;
}
.navbar li a:hover{
   color: yellowgreen;
}
span a:hover{
    color: yellowgreen;
}
button{
    border: 1px solid white ;
    border-radius: 10px;
    background-color: rgb(141, 141, 46);
    color: black;
    padding: 1.1px;
    transition: 0.3s all ease;
    width: 75%;
}
button:hover{
    cursor: pointer;
    background-color: yellowgreen;
}
.secondpage{
    width: 98%;
   padding: 10px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 5px;
   /* background-color: #04121b; */
   /* border: 2px solid white; */

}
.secondpage img{
    width: 35rem;
    height: 25rem;
    margin-right: 50px;
}
.heading{
    width: 30%;
    margin: 80px auto 5px auto;
    /* border: 2px solid white; */
    align-items: center;
    text-align: center;
}
.heading h1{
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    font-size: 3rem;
}
.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    margin-top: 8%;
}

.grid-item img{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    transition: transform .3s; 
    margin-bottom: 10px;
}
.grid-item {
    text-align: center;
    width: 100px;
}

.grid-item img:hover{
    transform: scale(1.2);
}

#skills{
    padding: 0;
    bottom: 0;
    /* background-color: #0d2538; */
    margin-bottom: 50px;
}
.projects{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.image1 img{
    width: 35.8rem;
    height: 20rem;
    margin-top: 5%;
}
.project_matter{
    font-size: 1rem;
}
.project_matter{
    margin-right: 10px;
    margin-top: 80px;
    margin-left: 20px;
}
.project_matter span{
    color: yellowgreen;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    display: block;
    align-items: center;
    text-align: center;
    width: 400px;
    /* margin-left: 500px;
     margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* border: 2px solid white; */
}
.soc_icon{
  margin: 20px;
}
.soc_icon:hover{
  color: yellowgreen;
}
.mailme{
    width: 50px;
    height: 20px;
}
.social a:hover{
    color: yellowgreen;
}

.parallax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #082032, transparent);
    z-index: 1000;

}
.parallax::after{
    content: '';
    position: absolute;
    top: 63px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #082032;
    z-index: 1000;
    mix-blend-mode: color;

}
.parallax img{
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
    position: relative;
    color: #fff;
    font-size: 5rem;
    z-index: 1;
}
#road{
    z-index: 2;
}
.project-button{
    width: 10rem;
}
 @media screen and (max-width: 1236px) {
    #home , #project , #skills{
        width: 100%;
    }
    .sticky{
        flex-direction: column;
    }
 }
 @media  screen and (max-width : 1025px) {
     .parallax{
         display: none;
     }
     .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
     }
     .secondpage{
         width: 100vw;
         display: flex;
         flex-direction: column;
         align-items: center;
         /* margin-right: 10px; */
     }
     .btn{
         display: none;
     }
     .sticky{
        display: flex;
        align-items: center;
     }
     .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .image img{
         display: block;
         margin: 0px auto;
         width: 450px;
     }
     .grid{
         margin-left: 7%;
     }
 }
 @media  screen and (max-width : 600px) {
     .container img{
         display: none;
     }
     .sticky{
         display: flex;
     }
     .secondpage{
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 40% 40%;
         bottom: 0;
         height: 700px;
     }
    #home , #project , #skills{
        width: 98%;
    }
    .grid{
        display: grid;
        grid-template-columns: 8rem 8rem 8rem;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
    }
    .thinking img{
    width: 23rem;
    }
    .heading{
        width: 13rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .image1 img{
        width: 24rem;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
 }